@inject PopupWrapperService _popupWrapperService

@if (IsVisible)
{
    <div id="ex-popup-cover" class="@ClassesForPopupCover" style=@_style @onclick="OnCoverClick" @onclick:stopPropagation=@true>
        <div class="@ClassesForPopupContent" @onclick:stopPropagation=@true>
            @ChildContent
        </div>
    </div>
}
